{% extends 'base.html' %}
{% load static %}

{% block title %}Battlebound Tactics — ¿Castlevyr?{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/castlevyr.css' %}">
{% endblock %}
{% block content %}

    <div class="image-container">
        <div class="image-box" onclick="iniciarDialogoHavva()">
            <img src="{% static 'resources/Pixelarts/abuelo_1.webp' %}" alt="Havva Skript">
        </div>
    </div>

    <div id="dialogo-secuencia" class="dialogo">
        <div class="lado-dialogo">
            <img id="jugador-img" src="" alt="Jugador">
            <p id="nombre-dialogo-secuencia" class="nombre-personaje"></p>
        </div>
        <div class="linea">
            <p id="texto-secuencia"></p>
            <button class="continuar" onclick="siguienteDialogo()">Continuar...</button>
        </div>
    </div>

    <div id="dialogo-havva" class="dialogo">
        <div class="lado-dialogo">
            <img id="imagen-dialogo-havva" src="" alt="Hablante">
            <p id="nombre-dialogo-havva" class="nombre-personaje"></p>
        </div>
        <div class="linea">
            <p id="texto-dialogo-havva"></p>
            <button class="continuar" onclick="siguienteDialogoHavva()">Continuar...</button>
        </div>
    </div>

    <div id="modal-combate" class="modal">
        <div class="modal-content">
            <h3>¡El antiguo rey ataca de nuevo!</h3>
            <img class="img-modal-enemigo" src="{% static 'resources/Pixelarts/abuelo_1.webp' %}" alt="Havva Skript">
            <p>Nombre: {{ enemigo.nombre }}</p>
            <p>Dificultad: {{ enemigo.dificultad }}</p>
            <a href="{% url 'iniciar_combate' enemigo.id %}" class="button-gema verde">Enfrentar</a>
            <button onclick="cerrarModal('modal-combate')" class="button-gema rojo">Huir</button>
        </div>
    </div>

    <div id="overlay-bloqueo" style="display: none;"></div>

    {% block song_data %}
        <script>
            let songs = [
                {url: "{% static 'resources/songs/tension/tension_1.mp3' %}"},
            ]
        </script>
    {% endblock %}

    <!-- Script único, crear archivo propio. -->

    <script>
        const nombreJugador = "{{ jugador.nombre }}";
        const claseJugador = "{{ jugador.clase|lower }}";

        const frasesSecuencia = [
            "¿¡Que demonios ha pasado aquí!? ¡El reino está completamente destruido!",
            "Ese hombre... ¿Acaso ha sido él quien ha causado todo esto?",
            "¡Oye, tú! Ven aquí ahora mismo"
        ];

        const imagenesJugador = {
            "guerrero": "{% static 'resources/Pixelarts/Guerrero/Guerrero_ataque.webp' %}",
            "mago": "{% static 'resources/Pixelarts/Mago/Mago_ataque.webp' %}",
            "arquero": "{% static 'resources/Pixelarts/Arquero/Arquero_ataque.webp' %}",
            "luchador": "{% static 'resources/Pixelarts/Luchador/Luchador_ataque.webp' %}",
            "espiritualista": "{% static 'resources/Pixelarts/Espiritualista/Espiritualista_ataque.webp' %}",
            "astral": "{% static 'resources/Pixelarts/Astral/Astral_ataque.webp' %}"
        };

        function bloquearInteraccion() {
            document.getElementById('overlay-bloqueo').style.display = 'block';
        }

        function desbloquearInteraccion() {
            document.getElementById('overlay-bloqueo').style.display = 'none';
        }

        let pasoActual = 0;

        function siguienteDialogo() {
            pasoActual++;
            if (pasoActual < frasesSecuencia.length) {
                document.getElementById('texto-secuencia').innerText = frasesSecuencia[pasoActual];

            } else {
                document.getElementById('dialogo-secuencia').style.display = 'none';
                desbloquearInteraccion()
            }
        }

        window.addEventListener('load', function () {
            document.getElementById('jugador-img').src = imagenesJugador[claseJugador] || "{% static 'resources/Pixelarts/personaje_default.webp' %}";
            document.getElementById('texto-secuencia').innerText = frasesSecuencia[0];
            document.getElementById('dialogo-secuencia').style.display = 'flex';
            document.getElementById('nombre-dialogo-secuencia').innerText = nombreJugador;
            bloquearInteraccion();
        });

        // Diálogo con Havva Skript
        const dialogos = [
            {quien: 'abuelo', texto: "Ah, por fin te has dignado a aparecer por aquí..."},
            {quien: 'jugador', texto: "¿Quién rayos eres tú? ¿¡Qué haces aquí!?"},
            {
                quien: 'abuelo',
                texto: "Hmph, quizás te suene el nombre Havva Skript. Soy el antiguo gobernador de estas tierras."
            },
            {quien: 'jugador', texto: "¡Imposible! Habías sido desterrado al mundo Oscuro, no puedes estar aquí"},
            {
                quien: 'abuelo',
                texto: "¿De verdad creías que iba caer tan fácilmente? No... ¡Y he vuelto para vengarme!"
            },
            {quien: 'jugador', texto: "Mientras yo siga en pie, haré todo lo posible para detenerte."},
            {
                quien: 'abuelo',
                texto: "Los guerreros que han osado desafiarme ya han fracasado... y tú no serás la excepción "
            },
            {quien: 'jugador', texto: "Hablas demasiado para ser un abuelo, acabaré contigo en un instante."},
            {
                quien: 'abuelo',
                texto: "¡JA! Por favor, no me hagas reir... En fin, dejémonos de cháchara, última oportunidad, joven ¿Estás preparado?"
            }
        ];

        let pasoHavva = 0;

        function iniciarDialogoHavva() {
            pasoHavva = 0;
            mostrarDialogoHavva();
        }

        const imagenJugador = imagenesJugador[claseJugador] || "{% static 'resources/Pixelarts/personaje_default.webp' %}";

        function mostrarDialogoHavva() {
            const dialogo = dialogos[pasoHavva];
            if (!dialogo) {
                document.getElementById('dialogo-havva').style.display = 'none';
                abrirModal('modal-combate');
                return;
            }

            const img = dialogo.quien === 'abuelo'
                ? "{% static 'resources/Pixelarts/abuelo_1.webp' %}"
                : imagenJugador;

            const nombre = dialogo.quien === 'abuelo'
                ? "Havva Skript"
                : nombreJugador;

            document.getElementById('imagen-dialogo-havva').src = img;
            document.getElementById('texto-dialogo-havva').innerText = dialogo.texto;
            document.getElementById('nombre-dialogo-havva').innerText = nombre;
            document.getElementById('dialogo-havva').style.display = 'flex';
            bloquearInteraccion()
        }

        function siguienteDialogoHavva() {
            pasoHavva++;
            mostrarDialogoHavva();
        }

        function abrirModal(id) {
            const modal = document.getElementById(id);
            const content = modal.querySelector('.modal-content');
            modal.classList.add("active", "animar-modal");
            content.classList.add("animar-modal");
            bloquearInteraccion();
            setTimeout(() => {
                modal.classList.remove("animar-modal");
                content.classList.remove("animar-modal");
            }, 400);
        }

        function cerrarModal(id) {
            const modal = document.getElementById(id);
            const content = modal.querySelector('.modal-content');
            modal.classList.add("cerrar-animacion");
            content.classList.add("cerrar-animacion");
            setTimeout(() => {
                modal.classList.remove("active", "cerrar-animacion");
                content.classList.remove("cerrar-animacion");
                desbloquearInteraccion();
            }, 300);
        }
    </script>
{% endblock %}