{% extends 'base.html' %}
{% load static %}

{% block title %}Battlebound Tactics — ¿Castlevyr?{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/castlevyr.css' %}">
{% endblock %}
{% block content %}

    <div class="image-container">
        <div class="image-box" onclick="iniciarDialogoHavva()">
            <img src="{% static 'resources/Pixelarts/abuelo_1.webp' %}" alt="Havva Skript">
        </div>
    </div>

    <div id="dialogo-secuencia" class="dialogo">
        <div class="lado-dialogo">
            <img id="jugador-img" src="" alt="Jugador">
            <p id="nombre-dialogo-secuencia" class="nombre-personaje"></p>
        </div>
        <div class="linea">
            <p id="texto-secuencia"></p>
            <button class="continuar" onclick="siguienteDialogo()">Continuar...</button>
        </div>
    </div>

    <div id="dialogo-havva" class="dialogo">
        <div class="lado-dialogo">
            <img id="imagen-dialogo-havva" src="" alt="Hablante">
            <p id="nombre-dialogo-havva" class="nombre-personaje"></p>
        </div>
        <div class="linea">
            <p id="texto-dialogo-havva"></p>
            <button class="continuar" onclick="siguienteDialogoHavva()">Continuar...</button>
        </div>
    </div>

    <div id="modal-combate" class="modal">
        <div class="modal-content">
            <h3>¡El antiguo rey ataca de nuevo!</h3>
            <img class="img-modal-enemigo" src="{% static 'resources/Pixelarts/abuelo_1.webp' %}" alt="Havva Skript">
            <p>Nombre: {{ enemigo.nombre }}</p>
            <p>Dificultad: {{ enemigo.dificultad }}</p>
            <a href="{% url 'iniciar_combate' enemigo.id %}" class="button-gema verde">Enfrentar</a>
            <button onclick="cerrarModal('modal-combate')" class="button-gema rojo">Huir</button>
        </div>
    </div>

    <div id="overlay-bloqueo" style="display: none;"></div>

{#    {% block song_data %}#}
{#        <script>#}
{#            let songs = [#}
{#                {url: "{% static 'resources/songs/tension/tension_1.mp3' %}"},#}
{#            ]#}
{#        </script>#}
{#    {% endblock %}#}

    <script>
        const nombreJugador = "{{ jugador.nombre }}";
        const claseJugador = "{{ jugador.clase|lower }}";
        const imagenesJugador = {
            "guerrero": "{% static 'resources/Pixelarts/Guerrero/Guerrero_ataque.webp' %}",
            "mago": "{% static 'resources/Pixelarts/Mago/Mago_ataque.webp' %}",
            "arquero": "{% static 'resources/Pixelarts/Arquero/Arquero_ataque.webp' %}",
            "luchador": "{% static 'resources/Pixelarts/Luchador/Luchador_ataque.webp' %}",
            "espiritualista": "{% static 'resources/Pixelarts/Espiritualista/Espiritualista_ataque.webp' %}",
            "astral": "{% static 'resources/Pixelarts/Astral/Astral_ataque.webp' %}",
            "default": "{% static 'resources/Pixelarts/personaje_default.webp' %}"
        };
        const RUTA_ABUELO = "{% static 'resources/Pixelarts/abuelo_1.webp' %}";
        const RUTA_DEFAULT = "{% static 'resources/Pixelarts/personaje_default.webp' %}"
    </script>
    <script src="{% static 'js/dialogos_castlevyr.js' %}"></script>
{% endblock %}