{% extends 'base.html' %}
{% load static %}
{% load filtros_tags %}

{% block title %}Battlebound Tactics — A luchar!{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/combate.css' %}">
{% endblock %}
{% block content %}

    <div class="hud-combate">

        <div class="hud-enemigo">
            <div class="log-combate-wrapper">
                <div class="log-combate-toggle" onclick="toggleLog()">📝 Registro de combate</div>
                <div class="log-combate-content" id="logContent" style="display: block;">
                    <div>{{ log }}</div>
                </div>
            </div>

            <div class="barra-vida-enemigo">
                <div class="relleno"
                     style="width: {{ stats_enemigo.salud|porcentaje:stats_enemigo.salud_max }}%;"></div>
                <div class="texto">
                    {{ stats_enemigo.salud }} / {{ stats_enemigo.salud_max }}
                    ({{ stats_enemigo.salud|porcentaje:stats_enemigo.salud_max|floatformat:0 }}%)
                </div>
            </div>

            <div class="stats-enemigo">
                <div class="left">
                    <div>🗡️ Ataque: {{ stats_enemigo.ataque }}</div>
                    <div>🛡️ Defensa: {{ stats_enemigo.defensa }}</div>
                    <div>💨 Velocidad: {{ stats_enemigo.velocidad }}</div>
                </div>
                <div class="right efectos-enemigo">
                    <h3>Estados enemigos</h3>
                    {% for estado in stats_enemigo.estados %}
                        <div>{{ estado.tipo.capitalize }}:
                            {% if estado.tipo == "negativo" %}{{ estado.estado.capitalize }}{% else %}
                                {{ estado.stat.capitalize }} // Valor:
                                {% if estado.porcentaje %}{{ estado.valor|decimal_a_porcentaje|floatformat:0 }}%
                                {% else %}{{ estado.valor }}{% endif %}{% endif %} //
                            Duración: {{ estado.duracion }}</div>
                    {% empty %}
                        <div>Sin estados</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="enemigo-visual {% if enemigo_herido %}{{ clase_animacion_golpe }}{% endif %}">
            <img src="{{ enemigo.imagen.url }}" alt="Enemigo">
        </div>

        <div class="divisor-hud-jugador"></div>

        <div class="hud-jugador">
            <div class="contenedor-jugador">
                <div class="info-jugador">
                    <div class="retrato">
                        <img src="{% static 'resources/Pixelarts/'|add:jugador.clase|add:'/'|add:jugador.clase|add:'_final.webp' %}"
                             alt="Jugador">
                    </div>
                    <div class="info-datos">
                        <div class="barras-jugador">
                            <div class="barra">
                                <div class="relleno-salud-jugador"
                                     style="width:{{ stats_jugador.salud|porcentaje:stats_jugador.salud_max }}%;"></div>
                                <div class="texto">
                                    {{ stats_jugador.salud }} / {{ stats_jugador.salud_max }}
                                    ({{ stats_jugador.salud|porcentaje:stats_jugador.salud_max|floatformat:0 }}%)
                                </div>
                            </div>
                            <div class="barra energia">
                                <div class="relleno-energia-jugador"
                                     style="width:{{ stats_jugador.energia|porcentaje:stats_jugador.energia_max }}%;"></div>
                                <div class="texto">
                                    {{ stats_jugador.energia }} / {{ stats_jugador.energia_max }}
                                    ({{ stats_jugador.energia|porcentaje:stats_jugador.energia_max|floatformat:0 }}%)
                                </div>
                            </div>
                        </div>
                        <div class="stats-con-estados">
                            <div class="stats-jugador">
                                <div class="stat-box">🗡️ ATK: {{ stats_jugador.ataque }}</div>
                                <div class="stat-box">🛡️ DEF: {{ stats_jugador.defensa }}</div>
                                <div class="stat-box">💨 SPD: {{ stats_jugador.velocidad }}</div>
                            </div>
                            <div class="buffs-jugador">
                                {% for estado in stats_jugador.estados %}
                                    <div>{{ estado.tipo.capitalize }}:
                                        {% if estado.tipo == "negativo" %}{{ estado.estado.capitalize }}{% else %}
                                            {{ estado.stat.capitalize }} // Valor: {% if estado.porcentaje %}
                                            {{ estado.valor|decimal_a_porcentaje|floatformat:0 }}%{% else %}
                                            {{ estado.valor }}{% endif %}{% endif %} //
                                        Duración: {{ estado.duracion }}</div>
                                {% empty %}
                                    <div>Sin estados</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acciones">
                    <div class="fila-acciones">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="accion" value="atacar">
                            <button type="submit">🗡️ Atacar</button>
                        </form>
                        <form method="post">
                            <button type="button" onclick="abrirModalHabilidades()">✨ Habilidades</button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="accion" value="huir">
                            <button type="submit">🏃 Huir</button>
                        </form>
                    </div>
                    <div class="fila-acciones">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="accion" value="pasar">
                            <button type="submit">⏭️ Pasar turno</button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="accion" value="despertar">
                            <button type="submit" class="despertar">🌟 Despertar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalHabilidades">
            <div class="div-contenedor-habilidades">
                <h3>Selecciona una habilidad</h3>
                <div class="div-habilidad-jugador">
                    {% for i in "123" %}
                        {% with habilidad=jugador|get_habilidad:i %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="accion" value="habilidad_{{ i }}">
                                {% if habilidad %}
                                    <button type="submit">
                                        {{ habilidad.nombre }} : <span
                                            style="color: skyblue;">{{ habilidad.coste_energia }} de energía</span>
                                        : <span
                                            style="color: darkred;">{{ habilidad.coste_salud|decimal_a_porcentaje|floatformat:0 }}% de salud</span>
                                    </button>
                                {% else %}
                                    <button type="button" disabled>Sin habilidad</button>
                                {% endif %}
                            </form>
                        {% endwith %}
                    {% endfor %}
                </div>
                <br>
                <button onclick="cerrarModalHabilidades()" class="boton-cerrar-habilidades">
                    Cancelar
                </button>
            </div>
        </div>
    </div>

    <script src="{% static 'js/toggle_log.js' %}"></script>
    <script src="{% static 'js/mostrar_habilidades.js' %}"></script>
{% endblock %}
{#{% block song_data %}#}
{#    {% if "Jefe" in enemigo.dificultad %}#}
{#        <script>#}
{#            let songs = [#}
{#                {url: "{% static 'resources/songs/jefe/jefe_1.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/jefe/jefe_2.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/jefe/jefe_3.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/jefe/jefe_4.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/jefe/jefe_5.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/jefe/jefe_6.mp3' %}"}#}
{#            ];#}
{#        </script>#}
{#    {% else %}#}
{#        <script>#}
{#            let songs = [#}
{#                {url: "{% static 'resources/songs/combate/combate_1.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/combate/combate_2.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/combate/combate_3.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/combate/combate_4.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/combate/combate_5.mp3' %}"},#}
{#                {url: "{% static 'resources/songs/combate/combate_6.mp3' %}"}#}
{#            ];#}
{#        </script>#}
{#    {% endif %}#}
{#{% endblock %}#}