{% extends "base.html" %}
{% load static %}
{% block title %}Battlebound Tactics - Mapa del mundo{% endblock %}
{% block links %}
	<link rel="stylesheet" href="{% static 'css/mapa_continente.css' %}">
{% endblock %}

{% block content %}


    <div class="mapa-container">
        <a href="{% url 'region' %}" class="zona-verde" title="Región tranquila"></a>
        <button type="button" class="zona-roja" title="Región nevada"></button>
    </div>

    <div id="modal-region-nevada" class="dialogo-simple">
        <p>Una fuerte ventisca helada no le permite acceder a esta zona...</p>
        <button onclick="cerrarDialogo()" class="continuar">Continuar ></button>
    </div>

    <script src="{% static 'js/dialogo_continente.js' %}"></script>
    <script src="{% static 'js/pantalla_carga_continente.js' %}"></script>

    <div id="fade-overlay"></div>

{% endblock %}