{% extends "base.html" %}
{% load static %}
{% block title %}Battlebound Tactics - Región Tranquila{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/mapa_region.css' %}">
{% endblock %}
{% block content %}

    <div class="mapa-container">
        <a class="zona castelvyr" title="Castelvyr" onclick="abrirModal('modal-castillo')"></a>
        <a class="zona thalendor" title="Thalendor" onclick="mostrarDialogo()"></a>
        <a class="zona dreknar" title="Foso Dreknar" onclick="abrirModal('modal-dreknar')"></a>
        <a class="zona brumuhierro" onclick="abrirModal('modal-brumuhierro')"></a>
        <a class="zona bastion" onclick="abrirModal('modal-bastion')"></a>
        <a class="zona surnak" onclick="abrirModal('modal-surnak')"></a>
        <a class="zona campamento" onclick="abrirModal('modal-campamento')"></a>
        <a class="zona vrakk" onclick="abrirModal('modal-vrakk')"></a>
        <a class="zona torreon" onclick="abrirModal('modal-torreon')"></a>
    </div>

    <!-- Modal Castelvyr -->
    <div id="modal-castillo" class="modal">
        <div class="modal-content">
            <h2>Castelvyr</h2>
            <img src="{% static 'resources/imgs/castillo.webp' %}" alt="Castillo"/>
            <a href="{% url 'castlevyr' %}" class="button-gema verde">Acceder</a>
            <a class="button-gema rojo" onclick="cerrarModal('modal-castillo')">Cancelar</a>
        </div>
    </div>

    <!-- Caja de diálogo Thalendor -->
    <div id="dialogo-thalendor" class="dialogo">
        <img id="npc-imagen" src="{% static 'resources/Pixelarts/npcs/npc1.webp' %}" alt="NPC"/>
        <div class="linea">
            <p id="texto-dialogo">...</p>
            <button class="continuar" onclick="cerrarDialogo()">Continuar ></button>
        </div>
    </div>

    <!-- Modal Fosa de Dreknar -->
    <div id="modal-dreknar" class="modal">
        <div class="modal-content">
            <h2>Foso Dreknar</h2>
            <img src="{{ enemigo_dreknar.imagen.url }}" alt="Dreknar" class="img-modal-enemigo"/>
            <p>Enemigo: {{ enemigo_dreknar.nombre }}</p>
            <p>Dificultad: <strong>{{ enemigo_dreknar.dificultad }}</strong></p>
            <a href="{% url 'iniciar_combate' enemigo_dreknar.id %}" class="button-gema verde">Pelear</a>
            <a class="button-gema rojo" onclick="cerrarModal('modal-dreknar')">Retroceder</a>
        </div>
    </div>

    <!-- Modal Brumuhierro -->
    <div id="modal-brumuhierro" class="modal">
        <div class="modal-content">
            <h2>Brumuhierro</h2>
            <img src="{{ enemigo_brumuhierro.imagen.url }}" alt="Brumuhierro" class="img-modal-enemigo"/>
            <p>Enemigo: {{ enemigo_brumuhierro.nombre }}</p>
            <p>Dificultad: <strong>{{ enemigo_brumuhierro.dificultad }}</strong></p>
            <a href="{% url 'iniciar_combate' enemigo_brumuhierro.id %}" class="button-gema verde">Pelear</a>
            <a class="button-gema rojo" onclick="cerrarModal('modal-brumuhierro')">Retroceder</a>
        </div>
    </div>

    <!-- Modal Bastión Carmesí -->
    <div id="modal-bastion" class="modal">
        <div class="modal-content">
            <h2>Bastión Carmesí</h2>
            <img src="{{ enemigo_bastion.imagen.url }}" alt="Bastión" class="img-modal-enemigo"/>
            <p>Enemigo: {{ enemigo_bastion.nombre }}</p>
            <p>Dificultad: <strong>{{ enemigo_bastion.dificultad }}</strong></p>
            <a href="{% url 'iniciar_combate' enemigo_bastion.id %}" class="button-gema verde">Pelear</a>
            <a class="button-gema rojo" onclick="cerrarModal('modal-bastion')">Retroceder</a>
        </div>
    </div>

    <!-- Modal Grieta de Surnak -->
    <div id="modal-surnak" class="modal">
        <div class="modal-content">
            <h2>Grieta Surnak</h2>
            <img src="{{ enemigo_grieta.imagen.url }}" alt="Surnak" class="img-modal-enemigo"/>
            <p>Enemigo: {{ enemigo_grieta.nombre }}</p>
            <p>Dificultad: <strong>{{ enemigo_grieta.dificultad }}</strong></p>
            <a href="{% url 'iniciar_combate' enemigo_grieta.id %}" class="button-gema verde">Pelear</a>
            <a class="button-gema rojo" onclick="cerrarModal('modal-surnak')">Retroceder</a>
        </div>
    </div>

    <!-- Modal Campamento -->
    <div id="modal-campamento" class="modal">
        <div class="modal-content">
            <h2>Campamento de las Sombras Negras</h2>
            <img src="{{ enemigo_campamento.imagen.url }}" alt="Campamento" class="img-modal-enemigo"/>
            <p>Enemigo: {{ enemigo_campamento.nombre }}</p>
            <p>Dificultad: <strong>{{ enemigo_campamento.dificultad }}</strong></p>
            <a href="{% url 'iniciar_combate' enemigo_campamento.id %}" class="button-gema verde">Pelear</a>
            <a class="button-gema rojo" onclick="cerrarModal('modal-campamento')">Retroceder</a>
        </div>
    </div>

    <!-- Modal Nido de Vrakk -->
    <div id="modal-vrakk" class="modal">
        <div class="modal-content">
            <h2>Nido de Vrakk</h2>
            <img src="{{ enemigo_vrakk.imagen.url }}" alt="Vrakk" class="img-modal-enemigo"/>
            <p>Enemigo: {{ enemigo_vrakk.nombre }}</p>
            <p>Dificultad: <strong>{{ enemigo_vrakk.dificultad }}</strong></p>
            <a href="{% url 'iniciar_combate' enemigo_vrakk.id %}" class="button-gema verde">Pelear</a>
            <a class="button-gema rojo" onclick="cerrarModal('modal-vrakk')">Retroceder</a>
        </div>
    </div>

    <!-- Modal Torreón -->
    <div id="modal-torreon" class="modal">
        <div class="modal-content">
            <h2>Torreón del Este</h2>
            <img src="{{ enemigo_torreon.imagen.url }}" alt="Torreón" class="img-modal-enemigo"/>
            <p>Enemigo: {{ enemigo_torreon.nombre }}</p>
            <p>Dificultad: <strong>{{ enemigo_torreon.dificultad }}</strong></p>
            <a href="{% url 'iniciar_combate' enemigo_torreon.id %}" class="button-gema verde">Pelear</a>
            <a class="button-gema rojo" onclick="cerrarModal('modal-torreon')">Retroceder</a>
        </div>
    </div>

    <script>
        const imagenes = [
            "{% static 'resources/Pixelarts/npcs/npc1.webp' %}",
            "{% static 'resources/Pixelarts/npcs/npc2.webp' %}",
            "{% static 'resources/Pixelarts/npcs/npc3.webp' %}",
            "{% static 'resources/Pixelarts/npcs/npc4.webp' %}",
            "{% static 'resources/Pixelarts/npcs/npc5.webp' %}",
            "{% static 'resources/Pixelarts/npcs/npc6.webp' %}"
        ];
    </script>
    <script src="{% static 'js/dialogos_region.js' %}"></script>
    <script src="{% static 'js/pantalla_carga_region.js' %}"></script>

    <div id="fade-overlay"></div>

{% endblock %}
