{% extends "base.html" %}
{% load static %}
{% block title %}Ranking - Battlebound Tactics{% endblock %}
{% block links %}
	<link rel="stylesheet" href="{% static 'css/ranking.css' %}">
{% endblock %}
{% block content %}

    <div class="ranking-container">
        <div class="ranking-title">🏆 Ranking</div>

        <div class="ranking-filtros">
            <button onclick="cargarRanking('nivel')" class="active">Nivel</button>
            <button onclick="cargarRanking('victorias')">Victorias</button>
            <button onclick="cargarRanking('derrotas')">Derrotas</button>
            <button onclick="cargarRanking('oro')">Oro</button>
        </div>

        <div id="ranking-lista"></div>
    </div>

    <script>
        const rutaClases = "{% static 'resources/Pixelarts/' %}";
    </script>
    <script src="{% static 'js/llamada_api.js' %}"></script>

    <script src="{% static 'js/transicion_comun.js' %}"></script>
    <div id="fade-overlay"></div>

{% endblock %}