{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/resultado.css' %}">
{% endblock %}
{% block content %}

    {% if combate.resultado == "victoria" %}
        <style>
            html, body {
                background-image: url("{% static 'resources/imgs/victoria.webp' %}");
            }
        </style>
    {% else %}
        <style>
            html, body {
                background-image: url("{% static 'resources/imgs/derrota.webp' %}");
            }
        </style>
    {% endif %}


    <div class="resultado-panel">

        <div class="resultado-header">

            {% if combate.resultado == "victoria" %}
                <img src="{% static 'resources/imgs/texto_victoria_nobg.webp' %}" alt="Victoria">
            {% else %}
                <img src="{% static 'resources/imgs/texto_derrota_nobg.webp' %}" alt="Derrota">
            {% endif %}
            <hr class="header-separator">
        </div>

        <div class="resultado-body">
            <div class="versus-section">
                <div class="jugador-col">
                    <h3>{{ jugador.nombre }}</h3>
                    <img src="{% static 'resources/Pixelarts/'|add:jugador.clase|add:'/'|add:jugador.clase|add:'_ataque.webp' %}"
                         alt="Jugador">
                    <div class="resultado-etiqueta">
                        {% if combate.resultado == "victoria" %}
                            <img src="{% static 'resources/imgs/texto_ganador_nobg.webp' %}" alt="Ganador"> {% else %}
                            <img src="{% static 'resources/imgs/texto_perdedor_nobg.webp' %}"
                                 alt="Perdedor"> {% endif %}
                    </div>
                </div>

                <div class="versus-col">
                    <div class="versus-text">VS</div>
                </div>

                <div class="enemigo-col">
                    <h3>{{ enemigo.nombre }}</h3>
                    <img src="{{ enemigo.imagen.url }}" alt="Enemigo">
                    <div class="resultado-etiqueta">
                        {% if combate.resultado == "victoria" %}
                            <img src="{% static 'resources/imgs/texto_perdedor_nobg.webp' %}" alt="Perdedor"> {% else %}
                            <img src="{% static 'resources/imgs/texto_ganador_nobg.webp' %}" alt="Ganador"> {% endif %}
                    </div>
                </div>
            </div>

            <hr class="body-separator">
        </div>

        <div class="resultado-footer">

            <div class="resultado-botones">
                <a href="{% url 'inicio' %}">🏠 Menú Principal</a>
                <a href="{% url 'continente' %}">🗺️ Volver al Mapa</a>
            </div>

        </div>
    </div>

    <script src="{% static 'js/transicion_comun.js' %}"></script>
    <div id="fade-overlay"></div>

{% endblock %}

