{% extends 'base.html' %}
{% load static %}
{% block title %}Acceso Denegado{% endblock %}
{% block links %}
	<link rel="stylesheet" href="{% static 'css/403_forbidden.css' %}">
{% endblock %}
{% block content %}


<div class="error-container">
    <div class="error-modal">
        <h1>⛔ Acceso Denegado</h1>
        <p>Lo sentimos, no tienes permisos para acceder a esta página.</p>
        <p>Si crees que esto es un error, contacta con un administrador o regresa al
            <a href="{% url 'inicio' %}">menú principal</a>.
        </p>
    </div>
</div>
{% endblock %}